ul li {
	list-style-type: circle;
}
ul li.html {
	list-style-image: url('../icon.jpg');
}
ul li.css{
	list-style-type: none;
}
ol li {
	list-style-type: decimal-leading-zero;
}
a{
	text-decoration: none;
}
a:link {
color: green;
}
a:visited{
	color: red;
	font-size: 20px;
}
a:hover{
	color: yellow;
	font-size: 30px;
	margin-left: 15px;
}
#content1, #content2, #content3{
	height: 600px;
}
