*{ margin: 0px;
padding: 0px; }

ul li {
	float: left;
}
ul{
	list-style-type: none;
	margin-left: 10em;
	margin-bottom: 5em;
}
ul li{
	box-shadow: 1px 3px 5px;
	list-style-type: none;
	width: 190px;
	margin-bottom: 5em;
	border: 2px solid blue;
}
ul li a{
	padding: 2px 2px 2px 2px;
}