* {
	padding: 0;
	margin: 0;
}
@font-face {
		font-family: tp;
		src: url(SCRIPTIN.ttf);
	}
.tieude {
	color: #FFD133 !important;
	font-size: 80px;
	font-family: tp;
	text-shadow: 6px 5px 10px purple;
	text-align: center;
}
.phanmota {
	color: green ;
	font-size: 60px;
	text-align: center;
	font-style: bold ;
}
.cacdemuc {
	font-size: 30px;
	font-style: bold;
}
.content1 {
	font-size: 20px;
}
.content {
	padding-top: 5px;
	padding-bottom: 5px;
	/* thut vao dau dong 20px*/
	text-indent: 20px;
	text-align: justify;
	/* in hoa ca doan van*/
	font-size: 20px;
}
.tp1 {
	font-style: bold;
	font-size: 20px;

}
.tp2{
	text-align: right;
}
