#header {
	border: 1px solid red;
	height: 100px;
	text-align: center;
	line-height: 100px;
	background: blue;
}
#menu {
	border: 1px solid red;
	height: 50px;
	text-align: center;
	line-height: 50px;
}
#content {
	border: 2px dotted green;
	height: 200px;
	text-align: center;
	line-height: 200px;
}
#footer {
	border: 3px solid black;
	height: 300px;
	text-align: center;
	line-height: 300px;
}
#logo{
	width: 30%;
	float: left;
	border: 1px solid yellow;
}
#banner {
	width: 69%;
	float: left;
	border: 1px solid yellow;
}
#thanh {
	width: 30%;
	float: left;
	border: 1px solid yellow;
}
#19php {
	width: 69%;
	float: left;
	border: 1px solid yellow;
}
